.scattered-clouds-day {
  background-image: url(../images/scattered-clouds-day.gif);
}

.scattered-clouds-night {
  background-image: url(../images/scattered-clouds-night.gif);
}

.mist-day {
  background-image: url(../images/mist-day.gif);
}

.mist-night {
  background-image: url(../images/mist-night.gif);
}

.snow-day {
  background-image: url(../images/snow-day.gif);
}

.snow-night {
  background-image: url(../images/snow-night.gif);
}

.thunderstorm-day {
  background-image: url(../images/thunderstorm-day.gif);
}

.thunderstorm-night {
  background-image: url(../images/thunderstorm-night.gif);
}

.rain-day {
  background-image: url(../images/rain-day.gif);
}

.rain-night {
  background-image: url(../images/rain-night.gif);
}

.shower-rain-day {
  background-image: url(../images/shower-rain-day.gif);
}

.shower-rain-night {
  background-image: url(../images/shower-rain-night.gif);
}

.broken-clouds-day {
  background-image: url(../images/broken-clouds-day.gif);
}

.broken-clouds-night {
  background-image: url(../images/broken-clouds-night.gif);
}

.few-clouds-day {
  background-image: url(../images/few-clouds-day.gif);
}

.few-clouds-night {
  background-image: url(../images/few-clouds-night.gif);
}

.clear-sky-day {
  background-image: url(../images/clear-sky-day.gif);
}

.clear-sky-night {
  background-image: url(../images/clear-sky-night.gif);
}

body {
  background-size: 20%;
  background-repeat: repeat;
  background-position: top left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  border: solid 1px white;
  border-radius: 5px;
  margin-top: 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather-app {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 5px;
}

.search-section {
  margin-top: px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.degree {
  font-size: 40px;
  font-weight: 500;
  margin-right: 5px;
}

.unit {
  font-size: 18px;
  margin-top: 10px;
  text-decoration: none;
}
.units {
  top: -15px;
  position: relative;
  left: -5px;
}

li:first-letter {
  text-transform: capitalize;
}

button {
  background: none;
  border: none;
}

.active {
  color: #0A58CA;
}

@media only screen and (max-width: 900px) {

  body {
    font-size: 12px;
  }

  h1 {
    font-size: 25px;
  }

.unit {
  font-size: 12px;
  font-weight: 500;

}

.units {
   top: -5px;
}

  .degree {
    font-size: 20px
  }
footer {
  font-size: 10px;
}

.btn {
  font-size: 12px;
  margin: 0 auto;
}

.form-control {
  font-size: 12px;
  margin: 0 auto;
}

}
